/* General styles */

*{
  font-family: "metropolis", sweet-sans, sans-serif;
  margin: 0;
  padding: 0;
}

head { /** sets the background of the whole page to white **/
  background-color:#fff;
}

body {
  font-size: 16px;
  color: black;
  line-height: 1.2;
}

header {
  text-align: center; /** sets the text to the centre of the page **/
  background-color: #009ED8;
  padding: 25px;
}

#goals_header {
  font-size: 25px;
  font-style: italic;
}


header ul {
  list-style-type: none; /* No bullet points */
}

header a {
  text-decoration: none; /* Removes any decoration on the text e.g, underline */
  padding: 5px;
  border-width: 2px;
  margin: 2px;
}

/* For the links/text in the nav bar */
header a:link, header a:visited{ 
  color: black;
}

footer { /* general footer for all pages **/
  /* creates fixed footer */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  text-align: center;
  padding: 30px;
  color: #ffffff;
  background-color: #673bf5;
}

nav {
  text-align: center;
  color: rgb(0, 0, 0);
  /* padding-right: 40px; */
  margin: 20px, 50px;
  font-size: 20px;
}

.navigation {
  display: inline-block;
  padding: 15px;
  font-size:18px;
  background-color: #009ED8;

}

.navigation:hover {
  background-color: #3BF5EE;
  border: #ffffff solid 2px;
  margin: 0px;
  cursor: pointer;
}

#footer{
  position: relative;
  top: 0px;
}

.active {
  background-color: rgb(150, 108, 198);
}

/* index.html styles */

main{
  text-align: center;
  display: block;
  margin: auto, 16%;
  padding: 10px;
  font-size: 17px; 
}

h2 {
  font-size: 25px;
}

p {
  font-size: 17px;
}

  #content_section{
    background-color: lightskyblue;
    width: 100%;
    height: 500px;
    position: relative;
    bottom: -200px;
  }
  #button_div{
    display: none;
  }
  #section-center{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    background-color: #fff9e8;
    display: flex;
    flex-wrap: wrap;
    }
    
   

  @media screen and (max-width:750px) {
  
  #home_button{
    background-color: #009EDB; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    margin: 0;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
  }
  
  #about_button{
      background-color: #009EDB; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      position: absolute;
      margin: 0;
      top: 50%;
      left: 2.5%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      
    }
  
    #goals_button{
      background-color: #009EDB; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      position: absolute;
      margin: 0;
      top: 60%;
      left: 2.5%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      
    }
  
    #signup_button{
      background-color: #009EDB; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      position: absolute;
      margin: 0;
      top: 70%;
      left: 2.5%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    #section-center{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    background-color: #fff9e8;
    display: flex;
    flex-wrap: wrap;
    }
    
    #button_div{
      display: block;
    }

    #navbuttons > .navbuttons > #home_button {
      background-color: #009EDB; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      position: absolute;
      margin: 0;
      top: 5%;
      left: 5%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    #navbuttons > .navbuttons > #about_button {
      background-color: #009EDB; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      position: absolute;
      margin: 0;
      top: 5%;
      left: 32%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    #navbuttons > .navbuttons > #goals_button {
      background-color: #009EDB; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      position: absolute;
      margin: 0;
      top: 5%;
      left: 59%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    #navbuttons > .navbuttons > #signup_button {
      background-color: #673BF5; 
      border: none;
      color: white;
      padding: 10px 10px 10px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      position: absolute;
      margin: 0;
      top: 5%;
      left: 84%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  
    .showButtons{
      height: 300px;
    }
  

  }

