h2{
    color: black;
    background-color: #009EDB;
    display: flex;
    justify-content: center;
    position: relative;
    top: -22px;
    margin-left: 0px;
    margin-right: 0px;

}

#logo{
    width: 35%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;

}

#home_button{
  background-color: #009EDB; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  margin: 0;
  top: 10%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
}

#about_button{
    background-color: #009EDB; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    margin: 0;
    top: 10%;
    left: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
  }

  #goals_button{
    background-color: #009EDB; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    margin: 0;
    top: 10%;
    left: 64%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
  }

  #signup_button{
    background-color: #673BF5; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    margin: 0;
    top: 10%;
    left: 88%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #content_section{
    background-color: lightskyblue;
    width: 100%;
    height: 500px;
    position: relative;
    bottom: -200px;
  }
  #button_div{
    display: none;
  }
  #section-center{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    background-color: #fff9e8;
    display: flex;
    flex-wrap: wrap;
    }
  

  @media screen and (max-width:800px) {
    #logo{
      width: 55%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      position: relative;
  
  }}
  @media screen and (max-width:750px) {
    #logo{
      width: 75%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      position: relative;
  
  }
  
  #home_button{
    background-color: #009EDB; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    margin: 0;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
  }
  
  #about_button{
      background-color: #009EDB; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      position: absolute;
      margin: 0;
      top: 50%;
      left: 2.5%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      
    }
  
    #goals_button{
      background-color: #009EDB; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      position: absolute;
      margin: 0;
      top: 60%;
      left: 2.5%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      
    }
  
    #signup_button{
      background-color: #009EDB; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      position: absolute;
      margin: 0;
      top: 70%;
      left: 2.5%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    #section-center{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    background-color: #fff9e8;
    display: flex;
    flex-wrap: wrap;
    }
    
    #button_div{
      display: block;
    }

    #navbuttons > .navbuttons > #home_button {
      background-color: #009EDB; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      position: absolute;
      margin: 0;
      top: 5%;
      left: 5%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    #navbuttons > .navbuttons > #about_button {
      background-color: #009EDB; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      position: absolute;
      margin: 0;
      top: 5%;
      left: 32%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    #navbuttons > .navbuttons > #goals_button {
      background-color: #009EDB; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      position: absolute;
      margin: 0;
      top: 5%;
      left: 59%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    #navbuttons > .navbuttons > #signup_button {
      background-color: #673BF5; 
      border: none;
      color: white;
      padding: 10px 10px 10px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      position: absolute;
      margin: 0;
      top: 5%;
      left: 84%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  
    .showButtons{
      height: 300px;
    }
  

  }

