/* General styles */

*{
    font-family: "metropolis", sweet-sans, sans-serif;
    margin: 0;
    padding: 0;
}

head { /** sets the background of the whole page to white **/
    background-color:#fff;
}

body {
    font-size: 16px;
    color: black;
    line-height: 1.2;
}

header {
    text-align: center; /** sets the text to the centre of the page **/
    background-color: #009ED8;
    padding: 25px;
}

header h2 {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 1%;
}

header ul {
    list-style-type: none; /* No bullet points */
}

header a {
    text-decoration: none; /* Removes any decoration on the text e.g, underline */
    padding: 5px;
    border-width: 2px;
    margin: 2px;
    
}

 /* For the links/text in the nav bar */
header a:link, header a:visited{ 
    color: black;
}

footer { /* general footer for all pages **/
    display: block;
    text-align: center;
    padding: 30px;
    color: #ffffff;
    background-color: #673bf5;
}

nav {
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 20px, 50px;
    font-size: 20px;
}

.navigation {
    display: inline-block;
    padding: 15px;
    font-size:18px;
    border: #ffffff00 solid 2px;
}

.navigation:hover {
    border: #ffffff solid 2px;
    background-color: #ccf30c;
    /* font-weight: bold; */
    padding: 15px;
    cursor: pointer;
}

.active {
    background-color: rgb(150, 108, 198);
    border: #ffffff solid 2px;  
    font-weight: bold;
}

main{
    text-align: center;
    display: block;
    margin: auto, 16%;
    padding: 10px;
    font-size: 17px; 
}

h2 {
    font-size: 25px;
    margin: 2% 0;
}

p {
    font-size: 17px;
}

#info {
    display: block;
    position: relative;
    width: fit-content;
    height: 250px;
    margin: 10px 10px;
    padding-bottom: 20px;
    border: 5px solid #2134ad;
    border-radius: 10px;
}

#info-header {
    margin-bottom: 20px;
}

.info-para {
    display: block;
    text-align: left;
    padding-left: 1%;
    font-size: 20px;
}

.photo {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 250px;
}

iframe {
    float: right;
    width: 400px;
    height: 190px;
}


@media only screen and (max-width: 925px) {
    #info {
        display: block;
        padding: 10px;
        margin: 10px 10px;
        height: auto;
        text-align: center;
        border: 5px solid #2134ad;
        border-radius: 10px;
    }

    .photo {
        display: inline-block;
        float: none;
        width: 300px;
    }
    
    .video {
        float: none;
        display: inline-block;
    }
}