/* General styles */

*{
    font-family: "metropolis", sweet-sans, sans-serif;
    margin: 0;
    padding: 0;
}

head { /** sets the background of the whole page to white **/
    background-color:#fff;
}

body {
    font-size: 16px;
    color: black;
    line-height: 1.2;
}

header {
    text-align: center; /** sets the text to the centre of the page **/
    background-color: #009ED8;
    padding: 25px;
}

header h2 {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 1%;
}

header ul {
    list-style-type: none; /* No bullet points */
}

header a {
    text-decoration: none; /* Removes any decoration on the text e.g, underline */
    padding: 5px;
    border-width: 2px;
    margin: 2px;
    
}

 /* For the links/text in the nav bar */
header a:link, header a:visited{ 
    color: black;
}

footer { /* general footer for all pages **/
    display: block;
    text-align: center;
    padding: 30px;
    color: #ffffff;
    background-color: #673bf5;
}

nav {
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 20px, 50px;
    font-size: 20px;
}

.navigation {
    display: inline-block;
    padding: 15px;
    font-size:18px;
    border: #ffffff00 solid 2px;
}

.navigation:hover {
    border: #ffffff solid 2px;
    background-color: #ccf30c;
    /* font-weight: bold; */
    padding: 15px;
    cursor: pointer;
}

.active {
    background-color: rgb(150, 108, 198);
    border: #ffffff solid 2px;  
    font-weight: bold;
}

/* team.html styles */

main{
    text-align: center;
    display: block;
    margin: auto, 16%;
    padding: 10px;
    font-size: 17px; 
}

h2 {
    margin: 1%;
    font-size: 25px;
}

p {
    font-size: 17px;
}

.item-split { 
    display: inline-block; /* Puts everything next to each other in a line/on a row */
    vertical-align: top;
    padding: 25px;
    margin: 2.5%;
    /* height: auto; */
    height: 525px;
    width: 25%;
    
    text-align: center;
    border: solid 1.75px #2134ad;
    border-radius: 20px;
    box-sizing: border-box;
}

.item-text {
    margin: 8px;
}

.photo {
    width: 170px;
}

@media only screen and (max-width: 1130px) {
    .item-split {
        display: block;
        width: auto;
        height: auto;
        padding: 20px;
        margin: 2.5%;
        border: solid 1.75px #2134ad;
        border-radius: 20px;
    }

}

